html, body, div, span, header .nav .nav-toggle-label span::before, header .nav .nav-toggle-label span::after, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fdf8f5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  color: #808080;
  line-height: 1.4em;
  font-size: 1.5em;
  font-weight: 500;
}

a {
  all: unset;
}

h2 {
  font-size: 2.8em;
  font-weight: 800;
  color: #3F3F3F;
}

.btn {
  display: inline-block;
  border-radius: 40px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: 12px 23px;
  font-size: 0.85em;
  background-color: #1d3a5d;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px lightgrey;
          box-shadow: 0px 0px 10px 0px lightgrey;
  -webkit-transform: scale(101.5%);
          transform: scale(101.5%);
}

.btn:active {
  -webkit-transform: scale(97%);
          transform: scale(97%);
}

.btn p {
  color: white;
  font-weight: 600;
}

.btn_cuadrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_cuadrado .cuerpo {
  text-align: center;
  width: 130px;
  border-radius: 5px 0 0 5px;
}

.btn_cuadrado .cuerpo p {
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  padding: 3px;
}

.btn_cuadrado .flecha_contenedor {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: #efeded;
}

.btn_cuadrado .flecha_contenedor .flecha {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.banner img {
  width: 100%;
}

.whatsapp img {
  z-index: 1000;
  position: fixed;
  bottom: 135px;
  right: 5vw;
  width: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: #346094;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  -ms-flex-line-pack: center;
      align-content: center;
}

header .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .logo img {
  max-height: 35px;
}

header .nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 7vw;
}

header .nav ul {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  top: 100%;
  right: 0%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 35px;
  padding-bottom: 35px;
}

header .nav ul li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 35px;
  color: #3F3F3F;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
}

header .nav .nav-toggle {
  /*Eliminamos el checkbox*/
  display: none;
}

header .nav .nav-toggle:checked ~ ul {
  opacity: 1;
  visibility: visible;
}

header .nav .nav-toggle:checked ~ ul li {
  opacity: 1;
}

header .nav .nav-toggle-label {
  /*Ubicamos el label*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 20px;
  margin: -20px;
}

header .nav .nav-toggle-label span, header .nav .nav-toggle-label span::before, header .nav .nav-toggle-label span::after {
  display: block;
  background: beige;
  height: 1.8px;
  width: 2.5em;
  border-radius: 2px;
  position: relative;
}

header .nav .nav-toggle-label span::before {
  content: "";
  position: absolute;
  bottom: 7px;
}

header .nav .nav-toggle-label span::after {
  content: "";
  position: absolute;
  top: 7px;
}

.footer_banner img {
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFC27A;
  padding: 30px;
}

footer p {
  font-size: 1.2em;
}

footer .footer_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}

footer .footer_redes p {
  font-size: 1.4em;
  color: #3F3F3F;
  font-weight: 800;
}

footer .footer_redes img {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

footer .footer_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_contacto .footer_contacto_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  gap: 10px;
}

footer .footer_contacto .footer_contacto_item img {
  width: 28px;
  height: 28px;
}

footer .footer_contacto .footer_contacto_item p {
  color: #3F3F3F;
  font-size: 1.3em;
}

.hero {
  position: relative;
  height: 250px;
  -webkit-box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.hero h1 {
  width: 100%;
  padding: 0 15% 0 15%;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  color: #fdf8f5;
  line-height: 35px;
}

.textBlock {
  padding: 80px 20px 50px 20px;
  text-align: center;
}

.textBlock .btn {
  margin-top: 7em;
}

.textBlock .btn a p {
  font-size: 1.5em;
}

.textBlock p {
  padding: 5px 0 5px 0;
  font-size: 2em;
}

.swiper {
  width: 100%;
  margin: 5em 0;
}

.swiper .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper .swiper-slide .swiper-text {
  height: 200px;
  padding: 3em 6em;
}

.swiper .swiper-slide .swiper-text h2 {
  padding: 10px 0;
  font-size: 2em;
  color: #808080;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #346094;
}

.ramas {
  width: 100%;
}

.ramas .banner_ramas {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.ramas h2 {
  text-align: center;
  padding: 2em 1em;
  font-size: 1.8em;
  color: #1d3a5d;
}

.ramas p {
  text-align: center;
  margin: auto;
}

.ramas .ramas_texto {
  max-width: 70%;
}

.ramas .botones_ramas {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  margin-bottom: 40px;
}

.ramas .botones_ramas .btn_cuadrado_1 .cuerpo {
  background-color: #346094;
}

.ramas .botones_ramas .btn_cuadrado_2 .cuerpo {
  background-color: #FFC27A;
}

.ramas .botones_ramas .btn_cuadrado_3 .cuerpo {
  background-color: #94847d;
}

.ramas .btn {
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
}

.cards {
  padding: 5em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  background-color: #fdf8f5;
  -webkit-box-shadow: 0px 0px 10px 1px lightgrey;
          box-shadow: 0px 0px 10px 1px lightgrey;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
}

.cards .card .card_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 50%;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.cards .card .card_img_1 {
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}

.cards .card .card_img_2 {
  -o-object-position: 50% 18%;
     object-position: 50% 18%;
}

.cards .card .card_img_3 {
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.cards .card .card_img_4 {
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

.cards .card .card_img_5 {
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

.cards .card .card_img_6 {
  -o-object-position: 50% 45%;
     object-position: 50% 45%;
}

.cards .card .card_text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 20px 20px;
}

.cards .card .card_text p {
  color: #3F3F3F;
  line-height: 1.2em;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
}

.testimonios {
  width: 100%;
  text-align: center;
}

.testimonios h2 {
  padding: 2em 0;
}

.testimonios img {
  padding: 2em 0;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */