
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
    font-family: 'Montserrat', sans-serif;
	// font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: $color-background;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
    color: $color-text-secondary;
    line-height: 28px;
    font-size: 1.8em;
    font-weight: 400;
}
a {
    all:unset;
}
h2 {
    font-size: 2.8em;
    font-weight: 800;
    color: $color-text-primary;
}
.btn {
    display: inline-block;
    border-radius: 40px;
    transition: all 0.15s ease;
    padding: 12px 23px;
    font-size: 0.85em;
    background-color: $color-text-primary;
    &:hover {
        cursor: pointer;  
        box-shadow: 0px 0px 10px 0px lightgrey;
        transform: scale(101.5%);
    }
    &:active {
        transform: scale(97%);
    }
    p{
        color:$color-accent;
        font-weight: 600;
    }
}
.banner {
    img {
        width: 100%;
    }
}
.whatsapp {
    img {
        z-index: 1000;
        position: fixed;
        bottom: 10vh;
        right: 5vw;
        width: 80px;
        object-fit: cover;
        filter: opacity(70%);
        cursor: pointer;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: $color-hf;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    align-content: center;

    .logo {
        grid-column: 2/3;
        justify-self: center;
        // height: 70px;
        img {
            max-height: 35px;
        }
    }

    .nav {
        grid-column: 3/4;
        justify-self: end;
        margin-right: 7vw;
        ul {
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms ease;
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: end;
            width: 100%;
            top: 100%;
            right: 0%;
            background-color: rgba(255, 255, 255, 0.8);
            padding-top: 35px;
            padding-bottom: 35px;

            li {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                margin-right: 35px;
                color: $color-text-primary;
                font-size: 2em;
                font-weight: 500;
                letter-spacing: 1px;
                // text-shadow: 1px 1px rgba(0,0,0,0.25);
            }
        }
        .nav-toggle { /*Eliminamos el checkbox*/
            display: none;
            // cursor: pointer;
            &:checked ~ ul {
                opacity: 1;
                visibility: visible;
                li {
                    opacity: 1;
                }
                
            }
        }

        .nav-toggle-label { /*Ubicamos el label*/
            display: flex;
            align-items: center;
            cursor: pointer;

            & span {
                display: block;
                background: beige;
                height: 1.8px;
                width: 2.5em;
                border-radius: 2px;
                position: relative;

                &::before {
                    @extend span;
                    content: "";
                    position: absolute;
                    bottom: 7px;
                }
                &::after {
                    @extend span;
                    content: "";
                    position: absolute;
                    top: 7px;
                }
            }
        }
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: $color-hf;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        padding: 0 2em;
        img {
            max-height: 35px;
        }
    }
    .footerWrapper {
        display: flex;
        align-items: center;
        padding: 0 2em;
        .footerRedes {
            display: flex;
            flex-direction: column;
            padding: 0 1.2em;
            cursor: pointer;
            img {
                padding: 0.5em 0;
                width: 28px;
            }
        }
        .footerTexto {
            text-align: end;
            p {
                line-height: 1.5em;
                color: $color-background;
                font-size: 1.2em;
                font-weight: 500;
            }
        }
    }
}


.hero {
    position: relative;
    height: 400px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.25);
    text-align: center;
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        filter: brightness(80%);
    }
    h1 {
        width: 100%;
        padding: 0 15% 0 15%;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 3.5em;
        text-align: center;
        font-weight: 800;
        color: $color-background;
        line-height: 35px;
        // text-shadow: 2px 2px 2px grey;
    }
}

.textBlock {
    padding: 80px 20px 50px 20px;
    text-align: center;
    .btn {
        margin-top: 7em;
    }
    p {
        padding: 5px 0 5px 0;
    }
}

.swiper {
    width: 100%;
    height: 500px;
    margin: 5em 0;
    .swiper-slide {
        img {
            width: 100%;
            max-height: 250px;
            object-fit: cover;
        }
        .swiper-text {
            height: 250px;
            padding: 20px;
            h2 {
                padding: 15px 0;
                font-size: 2em;
                color: $color-text-secondary;
            }
        }
    }
    .swiper-button-prev {
        color: lightgrey;
    }
    .swiper-button-next {
        color: lightgrey;
    }
    .swiper-pagination-bullet-active {
        background-color: $color-hf;
    }
}

.ramas {
    h2 {
        text-align: center;
        padding: 2em 1em;
    }
    .rama {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 3em 0;
        img {
            max-width: 70%;
        }
        .ramaTexto {
            text-align: center;
            max-width: 70%;
            padding: 4em 0;
        }
    }

}

.cards {
    padding: 5em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    .card {
        background-color: $color-background;
        box-shadow: 0px 0px 10px 1px lightgrey;
        height: 200px;
        border-radius: 4px;
        overflow: hidden;
        .card_img {
            object-fit: cover;
            // border-radius: 3px;
            width: 100%;
            height: 50%;
            filter: brightness(90%);
        }
        .card_text {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 20px 20px 20px;
            p {
                color: $color-text-primary;
                line-height: 1.2em;
                font-weight: 500;
                font-size: 1.5em;
                text-align: center;
            }
        }
    }
}

.testimonios {
    width: 100%;
    text-align: center;
    h2 {
        padding: 2em 0;
    }
    img {
        padding: 2em 0;
        width: 90%;
        object-fit: cover;
    }
}